/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	position: relative;
}

A IMG.icon {
	vertical-align: sub;
}

.newsbtn {
	position: relative;
	top: -45px;
	float: right;
}

SPAN.date {
	float: left;
	padding-right: 10px;
}

H3 {
	border-bottom: 1px solid #DDDDDD;
	padding-top: 20px;
}

H4, H5 {
	padding-top: 10px;
}

TABLE TH {
    white-space: nowrap;
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
    text-align: center;
}
TABLE TD {
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}

TABLE.object_definition TD:first-child {
    padding-right: 15px;
}

TABLE.object_definition {
    border: 1px solid #CCC;
}

TABLE.object_definition TD {
    border: 1px solid #CCC;
    border-right: 0;
    border-left: 0;
}

/* affix styles */
/* Custom Styles */
ul.nav-tabs {
	width: 270px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
	border-top: none;
}
ul.nav-tabs li a{
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
}
ul.nav-tabs > li.active > a, ul.nav-tabs > li.active > a:hover{
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix, ul.nav-tabs.affix-bottom, ul.nav-tabs.affix-top {
	top: 70px; /* Set the top position of pinned element */
	position: fixed;
}

ul.nav-tabs li UL {
	display: none;
	list-style: circle;
	font-size: small;
	padding-left: 20px;
}
ul.nav-tabs li UL LI a {
	padding-left: 2px;
}
ul.nav-tabs li.active UL {
	display: inherit;
}
A.nav_anchor {
	/* make scrolling to the anchor center the anchor on the screen */
	padding-top: 80px;
	margin-top: -80px;
	min-height: 10px;
}
A.sub_nav_anchor {
	padding-top: 80px;
	margin-top: -80px;
	min-height: 10px;
}

/* bug comparisson */
SPAN.bug_status, SPAN.bug_priority {
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

SPAN.bug_status I, SPAN.bug_priority I {
    float: left;
    padding-right: 3px;
    padding-top: 2px;
}

SPAN.bug_status P, SPAN.bug_priority P {
    margin: 0;
    padding: 0;
    padding-right: 2px;
    padding-left: 2px;
}

A.nav_label {
	visibility: hidden;
	position: absolute;
	left: -10px;
}
