/* Custom CSS for the Naemon web site
 * see https://vitepress.dev/guide/extending-default-theme#customizing-css
 * and https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
:root {
    --vp-c-brand-1: #039BE5;
    --vp-c-brand-2: #0277BD;
    --vp-c-brand-3: #01579B;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(-45deg, #4FC3F7 50%, var(--vp-c-brand-1));

    --vp-home-hero-image-background-image: linear-gradient(45deg, var(--vp-c-brand-2) 50%, var(--vp-c-brand-1) 50%);
    --vp-home-hero-image-filter: blur(68px);

    --red-light: #D73A49;
    --red-dark: #F97583;

}

.bold {
    font-weight: bold;
}

.text-red {
    color: var(--red-light) !important;
}

.dark .text-red {
    color: var(--red-dark) !important;
}

/* Adds a background color to images to be better visible */
.img-bg {
    background-color: var(--vp-custom-block-note-bg);
    padding: 10px;
}

.img-bg img {
    /* Center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-icon-bg {
    background-color: var(--vp-custom-block-note-bg);
    padding: 15px;
    width: 100%;
    text-align: center;
}

/* Large content for wide pages such as the default macro list */
.page-large-content #VPContent {
    padding-right: 15px;
}

.page-large-content .VPNavBar.has-sidebar .content {
    padding-right: 15px;
}


/* Macro List classes */
.MacroYes {
    background-color: var(--vp-code-line-diff-add-color);
}

/* Fix tables to be able to have a static header */
.table-container table {
    position: relative;
    display: initial !important;
}

/* Add static header to large tables */
.th-sticky {
    position: sticky;
    top: var(--vp-nav-height);
    z-index: 100; /* Ensure the header is above other content */
}

DIV.VPDoc {
    padding-top: 20px !important;
}

TABLE.livestatus {
    width: 100%;
    display: table;
}